
nav{
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
  padding: 1px;
  background-color: #fff;
  position: sticky;
  top: 0;
}
nav h1{
  font-size: 20px;
}
nav .onglets{
  display: flex;
  flex-wrap:wrap;
}
nav .onglets p{
  font-size: 17px;
  margin-right: 10px;
  cursor:pointer;
}
nav .onglets input{
  margin: 8px 20px;
  padding: 15px;
  border-radius: 30px;
  border:none;
  background-color: #f2f2f2;
  outline:none;
}



header{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
}
header h1{
  font-size: 60px;
  max-width: 500px;
  text-align:center;
}
header button{
  padding: 15px 20px;
  font-size: 20px;
  border:none;
  border-radius: 23px;
  outline:none;
  cursor:pointer;
}


.bts{
  margin: 20px;
  margin-top: 8px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

dsi{
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
  padding: 20px;
  background-color: #160d0d;
  position: sticky;
  top: 0;
  color: fff;
}
dsi h1{
  font-size: 20px;
}
dsi .onglets{
  display: flex;
  flex-wrap:wrap;
}
dsi .onglets p{
  font-size: 15px;
  margin-right: 30px;
  cursor:pointer;
}

